<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@idea.picture_url,width:600) if @idea.picture.present? %>
</p>

<p>
  <strong>Place:</strong>
  <%= @idea.place %>
</p>
<hr>
<h3>寄せられたコメント</h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.reviewer %></strong>(<%= time_ago_in_words(comment.updated_at)%>前)
    <br />
    <p><%= comment.reviewcomment %></p>
    <p><%= link_to '書いたコメントを消す', comment_path(comment), method: :delete, data: { confirm: '削除してもよろしいですか？' } %></p>
  </div>
<% end %>
<hr>
<h3>コメントをお書きください</h3>
<%= render 'comments/form' %>


<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
